<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seus diarios</title>
<script src="{{ url_for('static', filename='js/seusdiarios.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/seusdiarios.css') }}">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/frontaldiario.css">
</head>

<body>
{% extends 'base/navbar.html' %}
{% block content%}
<main>
    <div id="overlay" style="display: none;"></div>
<div id="popup" style="display: none;">
    <div id="popup-content">
                <button id="cancel-button" onclick="closePopupNoEl()" class="btn btn-danger" style="flot:right;">X</button>
        <input type="text" id="popup-input">
        <button id="save-button" onclick="saveName()" class="btn btn-primary">Salvar</button>
    </div>
</div>


    <div class="writings">
    {% for writing in writings %}
    <div class="writing" >
        <h2 onclick="editName(this,'{{writing[5]}}')" style="cursor:pointer;">{{ writing[2] }}</h2>
<img src="{% if writing[8] %}{{ writing[8] }}{% else %}{{ url_for('static', filename='images/basecapa.png') }}{% endif %}" id="img_capa" onclick="editCapa(this,'{{writing[5]}}')"
     alt="Imagem do Diário">
<br>

        <button onclick="window.location.href='{{ url_for('diario', hash=writing[5], page=writing[6]) }}'" class="btn btn-primary">Abrir</button>
        <button id="deleteDiario" class="btn btn-danger" onclick="deleteDiario('{{writing[5]}}')">Deletar</button>
    </div>
    {% endfor %}
        </div>
</main>
{% endblock %}
</body>
</html>
